<!--
 * @Author: 苏征辉 343196323@qq.com
 * @Date: 2023-12-20 16:16:54
 * @LastEditors: 苏征辉 343196323@qq.com
 * @Description: 
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <%- content %>
</body>

</html>